<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/stylesheet.css">
  </head>
  <body>
	  <div class="container">
            <h1>Contact</h1>

            <div class="box">
                <div>@ViewBag.clientId</div>
                <div>@ViewBag.clientSecret</div>
                <div>@ViewBag.test</div>
            </div>
        </div>
  </body>
</html>